<h1>List of users</h1>

<form action="/add_user" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" placeholder="Enter a username..." name="username">

  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>

  <% User.all.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>

      <td>
        <%= user.username %>
      </td>

      <td>
        <a href="/users/<%= user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
